<%- include('partials/header') -%>
    <h2 class="flex justify-center">A holistic approach to bettering your mental health.</h2>
    <h4 class="flex justify-center">Kalm light is an app with the goal of healing you through various natural remedies and approaches. It connects with you on a deeper level by using your religous or spiritual beliefs to tailor your healing techniques to a perfect fit for you.</h4>
    <h4 class="flex justify-center"> The end result ? You feeling as light as a feather. Let's go on this journey together.</h4>
    
    <main class="flex justify-center">    
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
            <h2 class="card-title">Already a user? Login here:</h2>
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <h2 class="card-title">Not a user? Signup here:</h2>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
            </div>
            </div>
        </div>
    </main>



<%- include('partials/footer') -%>